#Diccionarios

Objeto diccionario: {key: values}

In [ ]:
Antonio={"Antonio":[9.5, 1.76, 20, 1]}

In [ ]:
type(Antonio)

dict

In [ ]:
up= {"Antonio":[9.5, 1.76, 20, 1],
         "Alejandra": [9.2, 1.6, 21, 1],
         "Manuel": [9.2, 1.77, 21, 1],
         "Daniela": [9.3, 1.58, 21, 2],
         "Farca": [9.0, 1.72, 19, 0],
         "Sofía": [9.2, 1.75, 21, 1]}

In [ ]:
print(up)

{'Antonio': [9.5, 1.76, 20, 1], 'Alejandra': [9.2, 1.6, 21, 1], 'Manuel': [9.2, 1.77, 21, 1], 'Daniela': [9.3, 1.58, 21, 2], 'Farca': [9.0, 1.72, 19, 0], 'Sofía': [9.2, 1.75, 21, 1]}

In [ ]:
# Importamos al módulo pandas
import pandas as pd

In [ ]:
Alumnos= pd.DataFrame(up,
                      index=["Promedio", "Estatura","Edad","Hermanos"])
Alumnos

          Antonio  Alejandra  Manuel  Daniela  Farca  Sofía
Promedio     9.50        9.2    9.20     9.30   9.00   9.20
Estatura     1.76        1.6    1.77     1.58   1.72   1.75
Edad        20.00       21.0   21.00    21.00  19.00  21.00
Hermanos     1.00        1.0    1.00     2.00   0.00   1.00

In [ ]:
df= pd.DataFrame(up,index=["p","e","ed","h"])
df

    Antonio  Alejandra  Manuel  Daniela  Farca  Sofía
p      9.50        9.2    9.20     9.30   9.00   9.20
e      1.76        1.6    1.77     1.58   1.72   1.75
ed    20.00       21.0   21.00    21.00  19.00  21.00
h      1.00        1.0    1.00     2.00   0.00   1.00

In [ ]:
type(Alumnos)

pandas.core.frame.DataFrame

In [ ]:
Alumnos.ndim  #dimensión como objeto en Python

2

In [ ]:
df.shape

(4, 6)

In [ ]:
Alumnos["Farca"]
#cuando tenemos un data frame con los corchetes, ingresa a la columna

Promedio     9.00
Estatura     1.72
Edad        19.00
Hermanos     0.00
Name: Farca, dtype: float64

In [ ]:
type(Alumnos["Farca"])

pandas.core.series.Series

In [ ]:
# iloc= localizar por índice
Alumnos.iloc[0]

Antonio      9.5
Alejandra    9.2
Manuel       9.2
Daniela      9.3
Farca        9.0
Sofía        9.2
Name: Promedio, dtype: float64

In [ ]:
Alumnos[["Farca","Sofía"]]

          Farca  Sofía
Promedio   9.00   9.20
Estatura   1.72   1.75
Edad      19.00  21.00
Hermanos   0.00   1.00

In [ ]:
Alumnos.iloc[0:2] #Rebana la base de datos del primer renglón al segundo

          Antonio  Alejandra  Manuel  Daniela  Farca  Sofía
Promedio     9.50        9.2    9.20     9.30   9.00   9.20
Estatura     1.76        1.6    1.77     1.58   1.72   1.75

In [ ]:

import pandas as pd
df=pd.DataFrame (
    {"a": [4,5,6],
     "b": [7,8,9],
     "c":[10,11,12]},
    index=[1,2,3]
)